.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /*Trial scrolling*/
  html {
    scroll-behavior: smooth;
  }

* {
    font-family: "Poiret One", sans-serif;
    font-weight: 500;
    font-style: normal;  
    margin: 0;
    padding: 0; 
    align-items: center;
    background-color: #0F1220;
}
/* NavBar*/

.NavBar {
    display: flex;
    background-color: #0A0B10;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 3vw;
}
#logo {
    display: inline-flex;
    align-items: center;
    color: #7067CF;
    background-color: #0A0B10;
    font-size: 5rem;
    margin-right: 5rem;
}
@media screen and (max-width : 1100px) {
    #logo {
        margin-right : 5rem;
    }
}
#logo img {
    width: 6rem;
    background-color: #0A0B10;
}
.ref {
    flex-grow: 2;
    align-items: center;
}
.ref a {
    background-color: #0A0B10;
    text-decoration: none;
    color: white;
    font-size: 3vw;
    padding-right: 20px;
    padding-left: 10px;
}
#home, #works, #contacte {
    background-color: #0A0B10;
}
.ref :hover , .NewNavBar :hover{
    border-style: solid;
    border-width: 2px;
    border-color: #7067CF;
    border-top: none;
    border-bottom: none;
    border-right: none;
    color: #7067CF;
}

.close {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #0A0B10;
}

.hamburger {
    background-color: #0A0B10;
    width: 3rem;
    align-self: center;
}

.hamburger img, .close img {
    width: 100%;
    height: 100%;
    background-color: #0A0B10;
}

.NewNavBar {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    list-style: none;
    background-color: #0A0B10;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
  }

.NewNavBar li a {
    background-color: #0A0B10;
    text-decoration: none;
    color: white;
    font-size: 10vw;
    padding-left: 10px;
}
@media screen and (min-width : 736px){
    .hamburger {
        display: none;
    }
}
@media screen and (max-width : 736px){
    .ref {
        display: none;
    }
    .NewNavBar:target {
        transform: translateY(0);
    }
}
@media screen and (max-width : 530px) {
    #logo {
        margin-right : 3rem;
        font-size: 3rem;
    }
    #logo img {
        height : 4rem;
    }
}
.contents {
    width: 75%;
    margin: auto;
    color: white;
}
.boxes {
    border-left: 1px solid white;
    padding: 1rem;
    font-size: 150%;
}
h1 {
    color: #7067CF;
}

#Project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card {
    width: 20rem;
    height: 7rem;
    margin: 1rem auto;
    cursor: pointer;
  }
  


.inside {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
  .card:hover .inside {
    transform: rotateY(180deg);
  }
  
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
  }
  
.card-front {
    background-color: #0F1220;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
.card-front a {
    padding: 1rem;
    padding-right: 1.2rem;
    font-size: 150%;
    text-decoration: none;
    color: white;
    transition: transform 0.5s ease;
}

@media screen and (max-width : 430px){
    .card {
        width: 16rem;
        height: 6rem;
        margin: 1rem auto;
        perspective: 1000px;
        cursor: pointer;
      }  
      
    .card-front a {
        font-size: 100%;
    }
}

.card-front a img {
    width: 30px;
    background-color: #0A0B10;
    padding: 10px;
}
.card-back {
    background-color: #181d33;
    color: white;
    text-align: center;
    transform: rotateY(180deg);
}
.card-back a {
    background-color: #181d33;
    text-decoration: none;
    color: white;
}

.columns {
    display: flex;
    flex-direction: row;
    background-color: #0F1220;
    justify-content: space-around;
}
.fitbox {
    display: flex;
    position: relative;
    width: 450px;
    height: 350px;
    margin-bottom: 2vw;
}
.top, .bottom {
    position: absolute;
    width: 100%;
    height: 100%;
}
.top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tile {
    font-weight: 600;
    font-style: italic;
    color: #7067CF;
}
.bottom {
    display: flex;
}

.textt {
    align-self: baseline;
}
.top {
    z-index: 1;
    mix-blend-mode: normal;
    transition: opacity 0.5s ease-in-out;
}
.fitbox:hover .top {
    opacity: 0;
}
.fitbox:active .top {
    opacity: 0;
}


@media screen and (max-width:1300px){
    .fitbox {
        display: flex;
        position: relative;
        width: 300px;
        height: 230px;
        margin-bottom: 3vw;
    }
}

@media screen and (max-width:930px){
    .fitbox {
        display: flex;
        position: relative;
        width: 200px;
        height: 130px;
        margin-bottom: 3vw;
    }
    .bottom p {
        font-size: small;
    }
}

@media screen and (max-width:600px){
    .columns {
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
    }
    .fitbox {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 50vw;
        margin-bottom: 3vw;
    }
    .top, .bottom {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .bottom p {
        font-size: large;
    }

}

/* Footer Starting */

#ContactMe {
    background-color: #0A0B10;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
#image {
    background-color: #0A0B10;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    padding-right: 20px;
    padding-top : 1rem;
    padding-bottom: 1rem;
}
#contact{
    font-size: 300%;
    color: white;
    display: inline;
    width: 50%;
    background-color: #0A0B10;
    padding-top: 1vw;
    padding-bottom: 1rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
}
#image img {
    width: 3rem; 
    max-width: 4rem; 
    height: auto; 
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    background-color: #0A0B10;
}
#image a {
    background-color: #0A0B10;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, -0.75rem, 0);
    }

}
@media screen and (max-width : 500px) {
    #image img {
        width: 2rem;
    }
    #contact {
        font-size: 200%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}
/* Footer Ending */




/* Change the vertical body scrollbar */
/* Want to hide the scrollbar unless cursor on images */
/* Need to use media queries for responsiveness */
/* Animations */

