.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /*Trial scrolling*/
  html {
    scroll-behavior: smooth;
  }

* {
    font-family: "Poiret One", sans-serif;
    font-weight: 500;
    font-style: normal;  
    margin: 0;
    padding: 0; 
    align-items: center;
    background-color: #0F1220;
}
/* NavBar*/

.NavBar {
    display: flex;
    background-color: #0A0B10;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 3vw;
}
#logo {
    display: inline-flex;
    align-items: center;
    color: #7067CF;
    background-color: #0A0B10;
    font-size: 5vw;
}

#logo img {
    width: 10%;
    background-color: #0A0B10;
}
.ref {
    flex-grow: 2;
    align-items: center;
}
.ref a {
    background-color: #0A0B10;
    text-decoration: none;
    color: white;
    font-size: 3vw;
    padding-right: 20px;
    padding-left: 10px;
}
#home, #works, #contacte {
    background-color: #0A0B10;
}
.ref :hover{
    border-style: solid;
    border-width: 2px;
    border-color: #7067CF;
    border-top: none;
    border-bottom: none;
    border-right: none;
    color: #7067CF;
}

.contents {
    width: 75%;
    margin: auto;
    color: white;
}
.boxes {
    border-left: 1px solid white;
    padding: 15px;
    font-size: 150%;
}
h1 {
    color: #7067CF;
}

#Project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.projects {
    display: inline-flex;
    justify-content: space-between;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-right: none;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.projects a {
    padding: 15px;
    padding-right: 20px;
    font-size: 150%;
    text-decoration: none;
    color: white;
    transition: transform 0.5s ease;
}
.projects a img {
    width: 30px;
    background-color: #0A0B10;
    padding: 10px;
}
.projects a:hover {
    transform: scale(1.2);
}

.columns {
    display: flex;
    flex-direction: row;
    background-color: #0F1220;
    justify-content: space-around;
}
.fitbox {
    display: flex;
    position: relative;
    width: 450px;
    height: 350px;
    margin-bottom: 2vw;
}
.top, .bottom {
    position: absolute;
    width: 100%;
    height: 100%;
}
.top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tile {
    font-weight: 600;
    font-style: italic;
    color: #7067CF;
}
.bottom {
    display: flex;
}

.textt {
    align-self: baseline;
}
.top {
    z-index: 1;
    mix-blend-mode: normal;
    transition: opacity 0.5s ease-in-out;
}
.fitbox:hover .top {
    opacity: 0;
}
.fitbox:active .top {
    opacity: 0;
}


@media screen and (max-width:1300px){
    .fitbox {
        display: flex;
        position: relative;
        width: 300px;
        height: 230px;
        margin-bottom: 3vw;
    }
}

@media screen and (max-width:930px){
    .fitbox {
        display: flex;
        position: relative;
        width: 200px;
        height: 130px;
        margin-bottom: 3vw;
    }
    .bottom p {
        font-size: small;
    }
}

@media screen and (max-width:600px){
    .columns {
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
    }
    .fitbox {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 50vw;
        margin-bottom: 3vw;
    }
    .top, .bottom {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .bottom p {
        font-size: large;
    }

}

/* Footer Starting */

#end {
    background-color: #0A0B10;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
#image {
    background-color: #0A0B10;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    padding-right: 20px;
}
#contact{
    font-size: 200%;
    color: white;
    display: inline;
    width: 50%;
    background-color: #0A0B10;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
}
#image img {
    width: 5vw; 
    max-width: 40px; 
    height: auto; 
}


/* Footer Ending */




/* Change the vertical body scrollbar */
/* Want to hide the scrollbar unless cursor on images */
/* Need to use media queries for responsiveness */
/* Animations */

